
# Add dependencies
 nltk
 contractions
 nrclex
 textblob==0.15.3
 scipy
 joblib
 scikit-learn

# SpaCy English language model
 spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
 
